<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea un nuevo usuario</title>
</head>
<body>
    
    <h1>Añade un nuevo usuario</h1>

    <form action="/procesar" method="post">

        <label>Nombre:</label>
        <input type="text" name="nombre">

        <label>Ocupación:</label>
        <input type="text" name="ocupación">

        <button typy="submit">Crear</button>

    </form>

</body>
</html>