<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba con Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
</head>
<body>
    <h1>Hola Flask!</h1>

    <h3>Mi plantilla Flask</h3>
    <p>Frase: {{ frase }}</p>
    <p>Times: {{ times }}</p>

    {% for x in range(0,times): %}
        <p>{{ frase }}</p>
    {% endfor %}

    {% if frase == "hola" %}
        <p>La frase dice hola</p>
    {% endif %}

</body>
</html>